{% load static %}

<div class="site-blocks-cover inner-page" data-aos="fade">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto order-md-2 align-self-start">
          <div class="site-block-cover-content">
          <h2 class="sub-title">#Feel Free To Question</h2>
          <h1>Message Us</h1>
          <p><a href="#meetheree" class="btn btn-black rounded-0">Send Inquiry</a></p>
          </div>
        </div>
        <div class="col-md-6 order-1 align-self-end">
          <img src="{% static 'images/model99.png' %}" alt="Image" class="img-fluid">
          
        </div>
      </div>
    </div>
  </div>