{% load static %}
<div class="row mb-5">
    <form class="col-md-12" method="post">
      <div class="site-blocks-table">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="product-thumbnail">Image</th>
              <th class="product-name">Product</th>
              <th class="product-price">Price</th>
              <th class="product-quantity">Quantity</th>
              <th class="product-total">Total</th>
              <th class="product-remove">Remove</th>
            </tr>
          </thead>
          <tbody>

            {% comment %} order item listing goes here {% endcomment %}
            {% include "CartPage/actual_cart_product.html" %}

            {% comment %} remove later {% endcomment %}
            {% include "CartPage/actual_cart_product.html" %}
            {% include "CartPage/actual_cart_product.html" %}
        
            
          </tbody>
        </table>
      </div>
    </form>
  </div>