{% load static %}
<div class="row">
    <div class="col-md-12">
      <div class="row mb-5 justify-content-center"> <!-- Centering "Continue Shopping" button -->
        <div class="col-md-6">
          <button class="btn btn-outline-info btn-sm btn-block">
            <a href="{%url 'shop-page' %}" style="color: black; font-size:16px;">Continue Shopping</a>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6 pl-2 mx-auto"> <!-- Added mx-auto class to center the section -->
      <div class="row justify-content-center">
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-12 text-center border-bottom mb-5"> <!-- Centering "Cart Totals" heading -->
              <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
            </div>
          </div>
          
          <div class="row mb-5">
            <div class="col-md-6">
              <span class="text-black">Overall Total</span>
            </div>
            <div class="col-md-6 text-right">
              <strong class="text-black">$230.00</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button
                class="btn btn-success btn-lg btn-block"
                onclick="window.location='{%url 'checkout-page' %}'"
              >
                Proceed To Checkout
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>