{% load static %}

<div class="site-blocks-cover inner-page" data-aos="fade">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto order-md-2 align-self-start">
          <div class="site-block-cover-content">
          <h2 class="sub-title">#Your Choice is Ours Choice</h2>
          <h1>Meet With Us</h1>
          <p><a href="#meethere" class="btn btn-black rounded-0">Lets Meet</a></p>
          </div>
        </div>
        <div class="col-md-6 order-1 align-self-end">
          <img src="{% static 'images/model_7.png' %}" alt="Image" class="img-fluid">
          
        </div>
      </div>
    </div>
  </div>