<div class="site-section custom-border-bottom" data-aos="fade">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 site-section-heading text-center pt-4">
          <h2>The Team</h2>
        </div>
      </div>
      <div class="row">

       {% comment %} profile card starts here {% endcomment %}

       {% include "AboutPage/profile.html" %}
       {% comment %} profile card ends here {% endcomment %}
       
       {% comment %} remove it after wards {% endcomment %}
       {% include "AboutPage/profile.html" %}
       {% include "AboutPage/profile.html" %}
       {% include "AboutPage/profile.html" %}
       
        

       

      </div>
    </div>
  </div>