
{% load static %}
<div class="col-md-12 mb-5">
  <div class="float-md-left">
    <h2 class="text-black h5">Our ALL Products</h2>
  </div>
  <div class="d-flex">
    <div class="dropdown mr-1 ml-md-auto">
      <button
        type="button"
        class="btn btn-dark btn-sm dropdown-toggle px-4"
        id="dropdownMenuOffset"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Category
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
        <a class="dropdown-item" href="#">T-shirt</a>
        <a class="dropdown-item" href="#">Pants</a>
        <a class="dropdown-item" href="#">Shirts</a>
        <a class="dropdown-item" href="#">Hoodies</a>
        <a class="dropdown-item" href="#">Jackets</a>
      </div>
    </div>
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary btn-sm dropdown-toggle px-4"
        id="dropdownMenuReference"
        data-toggle="dropdown"
      >
        Filter
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
        <a class="dropdown-item" href="#">Relevance</a>
        <a class="dropdown-item" href="#">Name, A to Z</a>
        <a class="dropdown-item" href="#">Name, Z to A</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Price, low to high</a>
        <a class="dropdown-item" href="#">Price, high to low</a>
      </div>
    </div>
  </div>
</div>
