
{% extends 'base.html' %}

{% load static %}

{% block maincontent %}

{% comment %} mini nav start here {% endcomment %}
<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0"><a href="{% url 'home-page' %}">Home</a> <span class="mx-2 mb-0">/</span> <a href="{% url 'shop-page' %}">Shop</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Gray Shoe</strong></div>
    </div>
  </div>
</div>  
{% comment %} mini nav ends here {% endcomment %}


{% comment %} carouselstart here {% endcomment %}
{% include "DetailPage/carousel_section.html" %}
{% comment %} caorousel end here {% endcomment %}


{% endblock maincontent %}